<!doctype html>
<html lang=en>
    <meta charset="utf-8" />
    <meta name="description" content="WEB322 Assignment 2" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" 
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" 
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="static/style.css">
    <body>
        <header>
            <!-- Header & Navigation -->
            <img src="https://whc.ca/wp-content/themes/whc/css-modules/images/logo_en-normal.svg" alt="Web Hosting Canada">
            <div class="row">
                <div class="col-md-4">
                    <nav>
                        <a href="/"><i class="bi bi-house-fill"></i>  Home</a>
                        <a href="/login"><i class="bi bi-box-arrow-in-right"></i>  Login</a>
                        <a href="/register"><i class="bi bi-file-arrow-up-fill"></i>  Register</a>
                        <a href="/plans"><i class="bi bi-cloud"></i>  Hosting & Servers</a>
                    </nav>
                </div>
                <div class="col-md-8">
                    <form id="search">
                        <!-- Search Bar -->
                        <input
                            id="search-bar"
                            type="search"
                            style="float: left; width:64em; height: 2.5em;"
                            name="searchFor"
                            placeholder="Find Your Perfect Web Domain"
                        />
                        <span class="search-btn">
                        <input
                            id="search-btn"
                            class="btn btn-primary"
                            type="submit"
                            value="Search"
                            style="width: 10em;"
                        />
                        </span>
                    </form>
                </div> 
        </div>
        </header>
    </body>
</html>